.header {
  color: #7821b1d3;
  margin: 10;
  padding: 20px;
  position: fixed;
  top: 30;
  left: 100;
  font-family: sans-serif;
  z-index: 100;
  font-size: x-large;
}

#nav-bar {
  display: flex;
  gap: 2.3rem;
  text-transform: uppercase;
  align-items: center;
  top: 30;
  right: 200;
  cursor: pointer;
}

.pp-nav-titles:hover {
  text-decoration: underline;
  text-decoration-color: gold;
}
