html {
  height: 100%;
  width: 100%;
  text-decoration-color: white;
}

.title {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #7821b1d3;
}

.pp-body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  box-sizing: border-box;
}

#main {
  margin: 0;
  padding: 0px;
}

#ppFeature-1 {
  background-image: url("./Assets/blackhole-1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  font-style: italic;
}

#ppFeature-2 {
  background-image: url("./Assets/black-space-1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

#h2-mission {
  color: gold;
  text-shadow: whitesmoke;
}

#pp-p1 {
  color: #7821b1d3;
  text-shadow: whitesmoke;
}

#pp-p2 {
  color: #7821b1d3;
  text-shadow: whitesmoke;
}

p {
  font-size: x-large;
  margin: 10;
  padding: 20;
  color: gold;
  font-style: bold;
  text-wrap: wrap;
}

h2 {
  font-size: x-large;
  margin: 0;
  padding: 0;
  font-style: bold;
}

h3 {
  font-size: xx-large;
  margin: 200;
  padding: 0;
}

section {
  position: relative;
}

.button-1 {
  color: whitesmoke;
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  border: 3px solid #7821b1d3;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  background-position: 10px, 20px;
  background-image: url("./Assets/purple-space.jpg");
  background-size: cover;
}

.button-1:hover {
  color: gold;
}

.button-2 {
  color: whitesmoke;
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  border: 4px solid #7821b1d3;
  padding: 1rem 2rem;
  background-position: 10px, 20px;
  position: relative;
  cursor: pointer;
  background-image: url("./Assets/purple-space.jpg");
  background-size: cover;
}

.button-2:hover {
  color: gold;
}

.button-3 {
  color: whitesmoke;
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  border: 2px solid #7821b1d3;
  padding: 1rem 2rem;
  text-decoration: none;
  background-position: 10px, 20px;
  position: relative;
  cursor: pointer;
  background-image: url("./Assets/purple-space.jpg");
  background-size: cover;
}

.button-3:hover {
  color: gold;
}

.button-4 {
  color: whitesmoke;
  margin-top: 1.2rem;
  display: inline-block;
  max-width: 200px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  opacity: 1;
  border: 3px solid #7821b1d3;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  background-position: 10px, 20px;
  background-image: url("./Assets/purple-space.jpg");
  background-size: cover;
}

.button-4:hover {
  color: gold;
}
